.env
__pycache__/
*.pyc
.DS_Store

# Caldera local config (secrets)
config/caldera.yml

# Python packaging
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# IDE
.idea/
.vscode/
.cursor/